In [116]:
import numpy as np
import pandas as pd

In [117]:
df = pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv",usecols=['name','seller_type','transmission','owner','fuel'])

In [118]:
df.head()

                       name    fuel seller_type transmission         owner
0             Maruti 800 AC  Petrol  Individual       Manual   First Owner
1  Maruti Wagon R LXI Minor  Petrol  Individual       Manual   First Owner
2      Hyundai Verna 1.6 SX  Diesel  Individual       Manual   First Owner
3    Datsun RediGO T Option  Petrol  Individual       Manual   First Owner
4     Honda Amaze VX i-DTEC  Diesel  Individual       Manual  Second Owner

# To summarize:

Ordinal Variables ---> OrdinalEcoder: Owner,, Seller_type, Transmission                            
Target or label Variables---> LabelEncoder: Fuel

# Using Python

In [124]:
df.drop('name',axis=1,inplace=True)

In [120]:
# df['transmission'] = df['transmission'].map({'Manual':0,'Automatic':1})

In [121]:
# df['seller_type'] = df['seller_type'].map({'Individual':0,'Dealer':1,'Trustmark Dealer':2})

In [127]:
# df['transmission'].apply(lambda x: 1 if x=='Manual' else 0)

In [128]:
df

        fuel seller_type transmission         owner
0     Petrol  Individual       Manual   First Owner
1     Petrol  Individual       Manual   First Owner
2     Diesel  Individual       Manual   First Owner
3     Petrol  Individual       Manual   First Owner
4     Diesel  Individual       Manual  Second Owner
...      ...         ...          ...           ...
4335  Diesel  Individual       Manual  Second Owner
4336  Diesel  Individual       Manual  Second Owner
4337  Petrol  Individual       Manual  Second Owner
4338  Diesel  Individual       Manual   First Owner
4339  Petrol  Individual       Manual   First Owner

[4340 rows x 4 columns]

In [129]:
from sklearn.model_selection import train_test_split

In [130]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('fuel',axis=1),df['fuel'], test_size=0.2, random_state=42)

# Using Scikitlearn

In [133]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

# 1 Applying Label Encoder

In [134]:
le = LabelEncoder()

In [136]:
y_train_scaled = le.fit_transform(y_train)
y_test_scaled = le.transform(y_test)

In [138]:
y_train_scaled

array([1, 1, 4, ..., 1, 1, 4])

In [141]:
oe = OrdinalEncoder()
X_train_traf= oe.fit_transform(X_train)
X_test_traf = oe.transform(X_test)

In [144]:
X_train.head(3)

     seller_type transmission         owner
227   Individual       Manual   First Owner
964   Individual       Manual   First Owner
2045  Individual       Manual  Second Owner

In [142]:
X_train_traf

array([[1., 1., 0.],
       [1., 1., 0.],
       [1., 1., 2.],
       ...,
       [0., 1., 0.],
       [1., 1., 0.],
       [1., 1., 0.]])